.img{
  width: 300px;
  height: 300px;
}

.img1{
  background-image: url('./assets/photo_2022-04-21_08-55-18.jpg');
}
.img2{
  background-image: url('./assets/photo_2022-04-21_08-55-40.jpg');
}
.img3{
  background-image: url('./assets/photo_2022-04-21_08-55-43.jpg');
}
